.scrolling-text-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.scrolling-text {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(100%) translateY(0);
  }
  50.001% {
    transform: translateX(100%) translateY(0) rotate(-90deg);
  }
  100% {
    transform: translateX(100%) translateY(-100%) rotate(-90deg);
  }
}
