.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  column-gap: 20%;
  justify-content: space-between;
  background-image: url("../assets/background-image.jpg");
  background-size: 60%;
  padding-left: 30px;
  padding-right: 30px;
}
.raxdio {
  font-family: "kaerukaeru", sans-serif;
  font-size: 70px;
  cursor: pointer;
  text-decoration: none;
  color: #e3dfcf;
}
.raxdio-mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .raxdio-desktop {
    display: none;
  }
  .raxdio-mobile {
    display: inline-block;
    font-family: "kaerukaeru", sans-serif;
    font-size: 70px;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
    color: #e3dfcf;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
    column-gap: 15px;
  }
}
