.scroll-container {
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  height: 9vh;
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.scroll-text p {
  display: inline-block;
  font-size: 30px;
  padding-top: 10px;
  margin-top: 0;
}

@keyframes marquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  /* 50% {
    transform: translate3d(50%, 0, 0);
  } */
  100% {
    transform: translate3d(0, 0, 0);
  }
}
