@font-face {
  font-family: "kaerukaeru";
  src: url("./assets/fonts/kaerukaeru-Regular.otf") format("truetype");
}
@font-face {
  font-family: "global";
  src: url("./assets/fonts/CothamSans.otf") format("truetype");
}

body {
  margin: 0px;
  color: #e3dfcf;
  font-family: "global";
}

.App {
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.oe {
  font-family: "kaerukaeru", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.content {
  display: flex;
  height: 90vh;
}
.radio {
  margin: 0;
  font-family: "kaerukaeru", sans-serif;
}
.vertical-text {
  margin: 0;
  text-orientation: upright;
}

.horizontal-text {
  margin: 0;
  cursor: pointer;
}
.now-playing {
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.now-playing-content {
  display: flex;
  flex-direction: column;
  color: #ad5f5f;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
}
.play-button {
  cursor: pointer;
}
.player {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding-right: 50px;
  font-family: "kaerukaeru", sans-serif;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}
.artist-name {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.artist-info a {
  color: #ad5f5f;
}

.hidden {
  display: none;
}
.show-flex {
  display: flex;
}
#chat-logo {
  height: 30px;
  width: 30px;
  fill: #e3dfcf;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  cursor: pointer;
}
.chat {
  display: block;
}
.chat-text {
  position: absolute;
  height: 77%;
  width: 0px;
  right: 0;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-top-left-radius: 30px;
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 500px; /* set final width to 500px */
  }
}
.input-text {
  /* border-radius: 30px; */
  width: 450px;
  height: 30px;

  border-color: white;
  background-color: rgba(0, 0, 0, 00);
}
input {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  border-color: #ad5f5f;
  color: white;
  font-family: "global";
  font-size: 16px;

  border-color: white;
  background-color: rgba(0, 0, 0, 00);
}
input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-username {
  width: 100%;
  margin-left: 10px;
}
.messages {
  overflow: auto;
  max-height: 60vh;
}
.message {
  height: 75px;
  width: 90%;
  /* border-bottom: 1px solid; */
  margin-bottom: 10px;
  list-style-type: none;
}
.message-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #d3d3d3;
  font-size: 14px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.content-msg {
  padding-top: 30px;
}
.user-info {
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
  width: 90%;
  font-size: 15px;
}
#edit-username {
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}
/* styles for mobile screens */
@media only screen and (min-width: 1000px) {
  .chat-text {
    border-bottom-left-radius: 30px;
    animation: expand 0.3s forwards;
  }
  .no-preceding-track {
    margin-left: 12%;
  }
  .no-next-track {
    margin-right: 16%;
  }
  .track-selection {
    font-size: 75px;
    cursor: pointer;
  }
  .previous-track {
    margin-left: 11%;
  }
  .next-track {
    margin-right: 15%;
    margin-left: 20px;
  }
  .credits {
    font-size: 20px;
    margin-top: 20px;
  }
  .about-us-wrapper {
    width: 35%;
    flex-direction: column;
  }
  .about-us {
    font-size: 22px;
  }
  .about-us-text {
    max-height: 350px;
    overflow: auto;
  }
  .content {
    flex-direction: row;
  }
  .radio {
    margin-left: 40px;
    font-size: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
  .horizontal-text {
    padding: 40px;
    cursor: pointer;
  }

  .now-playing-content {
    background-image: url("assets/ellipse-2.svg");
    background-size: 100% 95%;
  }

  .play-button {
    width: 150px;
    height: 150px;
    padding-top: 25px;
  }

  .player {
    display: flex;
    margin-top: 10%;
  }

  .artist {
    padding-left: 70px;
    margin-bottom: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .artist-track {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .album-image {
    width: 250px;
    height: 250px;
    border-radius: 200px 300px 200px 250px;
  }
  .artist-track-name {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .artist-info {
    /* margin-right: 20px; */
    margin-left: 8%;
    font-size: 22px;
    overflow: auto;
    max-height: 300px;
    max-width: 800px;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-height: 1000px) {
  .radio {
    font-size: 100px;
  }
  .horizontal-text {
    padding: 20px;
    cursor: pointer;
  }

  .now-playing-text {
    font-size: 70px;
  }

  .artist-track {
    display: flex;
    /* margin-left: 10%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1100px) {
  .now-playing-text {
    font-size: 70px;
  }
  .artist-info {
    max-height: 150px;
  }
  .artist-track {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .artist {
    padding: 0px;
  }
  .horizontal-text  {
    padding: 20px;
    cursor: pointer;
  }
}
