@font-face {
  font-family: "kaerukaeru";
  src: url("./assets/fonts/kaerukaeru-Regular.otf") format("truetype");
}
@font-face {
  font-family: "global";
  src: url("./assets/fonts/CothamSans.otf") format("truetype");
}

body {
  margin: 0px;
  color: #e3dfcf;
  font-family: "global";
}

.App {
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.oe {
  font-family: "kaerukaeru", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.content {
  display: flex;
  height: 90vh;
}
.radio {
  margin: 0;
  font-family: "kaerukaeru", sans-serif;
}
.vertical-text {
  margin: 0;
  text-orientation: upright;
}

.horizontal-text {
  margin: 0;
}
.now-playing {
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.now-playing-content {
  display: flex;
  flex-direction: column;
  color: #ad5f5f;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
}
.play-button {
  cursor: pointer;
}
.player {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding-right: 50px;
  font-family: "kaerukaeru", sans-serif;
}

.artist-name {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.artist-info a {
  color: #ad5f5f;
}

/* styles for mobile screens */
@media only screen and (min-width: 1000px) {
  .content {
    flex-direction: row;
  }
  .radio {
    margin-left: 40px;
    font-size: 140px;
    height: 100%;
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
  .horizontal-text {
    padding: 40px;
  }

  .now-playing-content {
    background-image: url("assets/ellipse-2.svg");
    background-size: 100% 90%;
  }

  .play-button {
    width: 150px;
    height: 150px;
    padding-top: 25px;
  }

  .player {
    display: flex;
    margin-top: 5%;
  }

  .artist {
    padding-left: 70px;
    margin-bottom: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .artist-track {
    display: flex;
    margin-left: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .album-image {
    width: 250px;
    height: 250px;
    border-radius: 100px;
  }
  .artist-track-name {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .artist-info {
    margin-right: 16%;
    margin-left: 8%;
    font-size: 22px;
    overflow: auto;
    max-height: 300px;
    min-width: 400px;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-height: 1000px) {
  .radio {
    font-size: 90px;
  }
  .horizontal-text {
    padding: 20px;
  }

  .now-playing-text {
    font-size: 80px;
  }
  .artist-info {
    max-height: 150px;
  }
  .artist-track {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1100px) {
  .now-playing-text {
    font-size: 80px;
  }
  .artist-info {
    max-height: 150px;
  }
  .artist-track {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .artist {
    padding: 0px;
  }
  .horizontal-text  {
    padding: 20px;
  }
}
