.raxdio {
  position: absolute;
  font-family: "kaerukaeru";
  letter-spacing: -20px;
  left: 10%;
  font-size: 100px;
  cursor: pointer;
}
.raxdio.bottom {
  top: 98.35%;
}
.raxdio.up {
  top: 0.18%;
}
.raxdio.up.mobile {
  top: 0.2%;
  left: 5%;
  font-size: 60px;
}
.raxdio.bottom.mobile {
  top: 97.85%;
  left: 5%;
  font-size: 60px;
}
.top {
  position: relative;
  background-size: cover !important;
  z-index: 1;
  /* background-repeat: no-repeat; */
  /* background-image: url("./assets/test2.svg"); */
}
.bi {
  height: auto;
  width: 100%;
}

.sp {
  width: 33%;
  top: 3.1%;
  left: 60%;
  max-height: 300px;
  border-width: 0px;
  position: absolute;
}

.sp-right {
  left: 57%;
}
.sp-left {
  left: 11.5%;
}
.mobileImage {
  width: 80%;
  left: 10%;
  height: 100px;
}
#modern-cosmology {
  top: 3%;
}
#modern-cosmology.mobileImage {
  top: 2.9%;
}
#holy-tongue {
  top: 5.05%;
}
#holy-tongue.mobileImage {
  top: 4.8%;
}
#rainy {
  top: 6.8%;
}
#rainy.mobileImage {
  top: 6.7%;
}
#trees {
  top: 8.6%;
}
#tct {
  top: 10.5%;
}
#dc {
  top: 12.5%;
}
#dc.mobileImage {
  top: 12.5%;
}
#cd {
  top: 14.45%;
}
#cd.mobileImage {
  top: 14.4%;
}
#ziur {
  top: 16.55%;
}
#ziur.mobileImage {
  top: 16.3%;
}
#pmx {
  top: 18.4%;
}
#pmx.mobileImage {
  top: 18.25%;
}
#groupo {
  top: 20.4%;
}
#groupo.mobileImage {
  top: 20.2%;
}
#dqnmm {
  top: 22.3%;
}
#dqnmm.mobileImage {
  top: 22.1%;
}
#king {
  top: 24.3%;
}
#king.mobileImage {
  top: 24%;
}
#exek {
  top: 26.05%;
}
#exek.mobileImage {
  top: 25.95%;
}
#hand {
  top: 27.95%;
}
#hand.mobileImage {
  top: 27.9%;
}
#fp {
  top: 29.85%;
}
#fp.mobileImage {
  top: 29.8%;
}
#bi {
  top: 31.7%;
}
#as {
  top: 33.85%;
}
#as.mobileImage {
  top: 33.6%;
}
#tn {
  top: 35.75%;
}
#tn.mobileImage {
  top: 35.6%;
}
#lh {
  top: 37.6%;
}
#lh.mobileImage {
  top: 37.5%;
}
#lrain {
  top: 39.7%;
}
#lrain.mobileImage {
  top: 39.4%;
}
#jo {
  top: 41.55%;
}
#jo.mobileImage {
  top: 41.3%;
}
#jb {
  top: 43.55%;
}
#jb.mobileImage {
  top: 43.25%;
}
#rahill {
  top: 45.45%;
}
#rahill.mobileImage {
  top: 45.2%;
}
#sb {
  top: 47.35%;
}
#sb.mobileImage {
  top: 47.1%;
}
#dnfb {
  top: 49.25%;
}
#dnfb.mobileImage {
  top: 49%;
}
#tir {
  top: 51.05%;
}
#tir.mobileImage {
  top: 50.95%;
}
#ftd {
  top: 53.05%;
}
#ftd.mobileImage {
  top: 52.9%;
}
#ale {
  top: 55.05%;
}
#ale.mobileImage {
  top: 54.8%;
}
#tita {
  top: 57%;
}
#tita.mobileImage {
  top: 56.7%;
}
#vz {
  top: 58.9%;
}
#vz.mobileImage {
  top: 58.65%;
}
#ea {
  top: 60.8%;
}
#ea.mobileImage {
  top: 60.6%;
}
#sc {
  top: 62.7%;
}
#sc.mobileImage {
  top: 62.5%;
}
#serg {
  top: 64.45%;
}
#serg.mobileImage {
  top: 64.4%;
}
#scq {
  top: 66.45%;
}
#scq.mobileImage {
  top: 66.3%;
}
#lg {
  top: 68.45%;
}
#lg.mobileImage {
  top: 68.25%;
}
#mr {
  top: 70.6%;
}
#mr.mobileImage {
  top: 70.15%;
}
#oo {
  top: 72.5%;
}
#oo.mobileImage {
  top: 72.1%;
}
#opn {
  top: 74.2%;
}
#opn.mobileImage {
  top: 74.05%;
}
#desca {
  top: 76.3%;
}
#desca.mobileImage {
  top: 75.95%;
}
#com {
  top: 78.3%;
}
#com.mobileImage {
  top: 77.9%;
}
#nihil {
  top: 80.25%;
}
#nihil.mobileImage {
  top: 79.8%;
}
#h31r {
  top: 82.05%;
}
#h31r.mobileImage {
  top: 81.7%;
}
#ar {
  top: 84.05%;
}
#ar.mobileImage {
  top: 83.65%;
}
#loop {
  top: 86%;
}
#loop.mobileImage {
  top: 85.6%;
}
#pj {
  top: 87.75%;
}
#pj.mobileImage {
  top: 87.5%;
}
#ie {
  top: 89.8%;
}
#ie.mobileImage {
  top: 89.4%;
}
#fr {
  top: 91.7%;
}
#fr.mobileImage {
  top: 91.35%;
}
#mh {
  top: 93.6%;
}
#mh.mobileImage {
  top: 93.25%;
}
#mtts {
  top: 95.5%;
}
#mtts.mobileImage {
  top: 95.15%;
}
#bg {
  top: 97.4%;
}
#bg.mobileImage {
  top: 97.1%;
}
#sp_top_playlist {
  width: 60%;
  top: 99.5%;
  left: 20%;
  max-height: 100px;
  border-width: 0px;
  position: absolute;
}
#sp_top_playlist.mobileImage {
  width: 80%;
  top: 98.9%;
  left: 10%;
  max-height: 1000px;
  border-width: 0px;
  position: absolute;
}
.text-top {
  color: #e3dfcf;
  font-family: "kaeru kaeru", sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 150px;
  position: absolute;
  top: 150px;

  z-index: 1; /* Lower z-index for the text */
}
